
//fonts
$font-size: 16px;

//colors
$color-white: #FFFFFF;
$color-light-blue: #DEFFFC;
$color-pink: #E02262;
$color-light-pink: #DBAFC1;
$color-dark-pink: #86626E;

//margins
$top-margin: 3rem 10rem;

//breaks
$phone-break: 400px;
$tablet-break:450px;
$big-tablet-break:800px;
$small-laptop-break: 1000px;
$laptop-break:1300px;