section {
  min-height: 100vh;
  display: block;
}

.main-section {
  background-image: linear-gradient(
      to left top,
      rgba($color-white, 0.2),
      rgba(black, 0.6)
    ),
    url(../img/mains.jpg);
  background-size: cover;
  background-position: bottom;

  .main-section--logo {
    display: inline-block;
    margin-top: 5vh;
    margin-left: 7vw;
  }

  .main-section--nav {
    display: block;
    text-transform: uppercase;

    @media screen and (min-width: $tablet-break) {
      margin-top: 3rem;
    }
    @media screen and (min-width: 510px) {
      float: right;
      margin-top: 1rem;
    }

    ul {
      list-style-type: none;
    }

    li {
      padding: 1rem 3rem;
      @media screen and (min-width: 510px) {
        display: inline;
        padding: 1rem;
      }
      @media screen and (min-width: $big-tablet-break) {
        padding: 1rem 3rem;
      }

      &:hover {
        background-color: rgba(black, 0.4);
      }
    }
  }

  .main-section--motto {
    background-color: rgba($color-light-pink, 0.5);
    margin: 1rem 2rem;
    width: 92vw;
    @media screen and (min-width: 510px) {
      margin-left: 5rem;
      margin-top: 40vh;
      max-width: 75vw;
      clear: both;
    }
    @media screen and (min-width: $big-tablet-break) {
      margin-top: 40vh;
      max-width: 75vw;
    }
    @media screen and (min-width: $laptop-break) {
      margin-top: 32vh;
      max-width: 75vw;
    }
  }
}

section.offer-section {
  padding: 8rem;
  .section--title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 10px;
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
  .offer-section--cards {
    @media screen and (min-width: $big-tablet-break) {
      display: flex;
      justify-content: space-between;
    }
  }
  .offer-section--card--text {
    margin-bottom: 4rem;
    background-color: rgba($color-light-pink, 0.2);
    min-height: 14vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $big-tablet-break) {
      background-color: transparent;
      min-height: 0;
    }
  }
}

section.reviews-section {
  background-image: url(../img/reviews.jpg);
  background-size: cover;
  background-position: left;
  padding: 5rem; //adding margin to child will not work
  .reviews-section--slates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .reviews-section--slate {
      display: flex;
      span {
        align-self: center;
      }
    }
  }
}

section.booking-section {
  padding: 6rem;
  background-color: #dbafc12e;
  background-image: url(../img/booking.jpg);
  background: linear-gradient(#dbafc1ba, #dbafc1ba), url(../img/booking.jpg);
  background-size: cover;

  @media screen and (min-width: $laptop-break) {
    padding: 20rem 15rem;
  }
  @media screen and (min-width: $small-laptop-break) {
    padding: 10rem;
  }

  .booking-section--map {
    display: block;
    margin: 0 auto;
    width: 60vw;
    border-radius: 11px;
    /*box-shadow: 7px 9px 10px #ab929c;*/
    @media screen and (min-width: $tablet-break) {
    }
    @media screen and (min-width: $big-tablet-break) {
      display: inline-block;
      float: right;
      max-width: 40vw;
    }
    @media screen and (min-width: $laptop-break) {
      max-width: 30vw;
    }
  }

  .booking-section--text {
    margin: 3rem;
    margin-bottom: 5rem;
    line-height: 10rem;
    background-color: rgba(255, 255, 255, 0.38);
    border: 20px solid #dbafc11c;
    border-radius: 20px;

    @media screen and (min-width: $tablet-break) {
      display: inline-block;
    }
    @media screen and (min-width: $big-tablet-break) {
      float: left;
      max-width: 40vw;
      margin-bottom: 10rem;
    }
    @media screen and (min-width: $laptop-break) {
    }
  }
  .booking-section--button {
    width: 40rem;
    height: 20rem;
    margin: 0rem auto;
    display: block;

    clear: both;

    background-color: $color-light-pink;

    border: 1px solid $color-pink;
    border-radius: 4px;
  }

  .booking-section--button:hover {
    transform: scale(1.1);
    transition: 1s;
    background-color: $color-pink;
    color: white;
    border: none;
    cursor: pointer;
  }
}

footer {
  padding: 2rem 20rem;
  min-height: 20rem;
  background-color: white;
  color: $color-pink;

  .footer--nav {
    ul {
      list-style-type: none;
      @media screen and (min-width: $tablet-break) {
        float: right;
      }
      @media screen and (min-width: $big-tablet-break) {
      }
    }
  }

  .footer--address {
    display: inline-block;
    @media screen and (min-width: $tablet-break) {
      max-width: 30vw;
    }
    @media screen and (min-width: $big-tablet-break) {
      width: 40rem;
    }
    @media screen and (min-width: $laptop-break) {
      width: 20rem;
    }
  }

  .footer--span {
    text-align: center;
    display: block;
    clear: both;
  }
}
